.cardMenu {
  margin-top: 10px;
  position: absolute;
  top: 15px;
  right: 0;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 12px 28px 0 rgba(0, 0, 0, 0.2), 0 2px 4px 0 rgba(0, 0, 0, 0.1), inset 0 0 0 1px rgba(255, 255, 255, 0.5);
  &:before {
    content: '';
    display: block;
    position: absolute;
    top: -15px;
    right: 0;
    border: 6px solid #fff;
    transform: translate(-9px, 9px) rotate(-45deg);
  }
  &__list {
    padding: 0 10px;
    display: flex;
    flex-flow: column nowrap;
    list-style: none;
    li {
      padding: 5px 10px 5px 5px;
      color: rgba(0, 0, 0, 0.88);
      border-radius: 5px;
      &:hover {
        background-color: rgba(221, 221, 221, 0.5);
      }
    }
  }
  &__item {
    display: grid;
    grid-template-columns: 25px auto;
    cursor: pointer;
    span {
      white-space: nowrap;
    }
  }
}
