.card {
  background-color: white;
  border-radius: 0.3rem;
  box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
  margin-bottom: 1rem;
  width: 100%;

  img {
    height: auto;
    width: 100%;
  }

  .content {
    padding: 1rem;

    .meta {
      color: rgba(0 0 0 / 40%);
      margin-bottom: 0.5rem;
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
    }
    
    .menu {
      position: relative;
      button {
        padding: 0;
      }
    }

    .description {
      color: rgba(0 0 0 / 68%);
    }
  }

  .extra {
    border-top: 1px solid rgba(0 0 0 / 5%);
    padding: 1rem;
  }
}
