.threadContent {
  width: 500px;
  margin: 20px auto;
}

.addPostForm {
  margin-top: 20px;
}

.toolbar {
  margin: 20px 0;
  display: flex;
  flex-flow: row nowrap;
  & > div:not(:first-child) {
    margin-left: 15px;
  }
}
